*{ margin: 0px;
    padding: 0px;
    box-sizing: border-box;
margin: auto;}

.main{
    border: 2px solid rgb(252, 249, 249);
    background-color: rgb(219, 216, 216);
}


.imageContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
    gap: 50px;
}
h1{color: rgb(4, 4, 56);
    display: flex;
justify-content: center;
margin-bottom: 50px;}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 50px;
    gap: 80px;
}
.heading{
    color: hsl(240, 84%, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.priceCardCONtainer{
    display: flex;
    flex-wrap: wrap;
}